<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <contenu>2 entrées, 3 plats, 2 désserts</contenu>
        <entree numero="1" devise="euros" prix="10">
            <intitule>charcuterie italienne</intitule>
            <description>Assortiment de charcuterie italienne</description>
        </entree>
        <entree numero="2" devise="euros" prix="7">
            <intitule>salade italienne</intitule>
            <description>salade accompagnée de mozarella, tomate cerises et jambon italien</description>

        </entree>

</menu>